.header {
  background-color: rgb(33, 33, 35);
  display: flex;
  justify-content: space-between;
  position: sticky;
  height: 3.75rem;
  grid-template-columns: repeat(3, auto);
}

.header__left,
.header__middle,
.header__right {
  display: flex;
  position: relative;
  align-items: center;
}
.header__middle {
  flex: 0.8;
  justify-content: center;
  align-items: center;
  /* margin: 0 5rem; */
}

.header__search {
  height: 2rem;
  display: flex;
  padding-left: 1rem;
  background-color: rgb(217, 217, 217);
  align-items: center;
  width: 100%;
  column-gap: 1rem;
}

.header__searchicon {
  color: rgb(107, 104, 107);
}

.header__search > input {
  background-color: transparent;
  outline: none;
  border: 0;
  width: 100%;
}
.header__left {
  flex: 0.15;
  /* padding-right: 5rem; */
  margin-right: 7rem ;
}
.header__right {
  /* padding-left: 5rem; */
  margin-left: 7rem;
  flex: 0.15;
}
.header__logo {
  padding: 0;
  object-fit: contain;
  height: 9rem;
  padding: 1rem;
  display: flex;
  cursor: pointer;
  position: absolute;
}

.header__buttons {

  position: relative;
  display: flex;
  width: 100%;
  column-gap: 1rem;
  align-items: center;
}

.login__button {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
}

.signpup__button {
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  height: 2rem;
  font-size: medium;
  width: 6rem;
  padding: 5px
}
